body {
    font-family: poppins;
}
.headnav {
    float: right;
    padding-right: 200px;
}
.headnav a {
    color: #0000;
    text-align: center;
    padding: 20px 24px;
    font-size: 17px;
    text-decoration: none;
}
.headnav a.active {
    text-decoration: none;
    color: black;
}
.headnav a.navitem {
    color: black;
}

.homebg {
    background: url("images/home.png") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 704px;
    max-width: 1100%;
}