body {
    font-family: poppins;
}
.headnav {
    float: right;
    padding-right: 200px;
}
.headnav a {
    color: #0000;
    text-align: center;
    padding: 20px 24px;
    font-size: 17px;
    text-decoration: none;
}
.headnav a.active {
    text-decoration: none;
    color: black;
}
.headnav a.navitem {
    color: black;
}

.homebg {
    background: url("images/home.png") no-repeat center;
    background-size: cover;
    min-height: 704px;
    max-width: 1100%;
}

.btncol {
    background-color: #fa9638;
    border: none;
    border-radius: 20px;
    margin-top: 50px;
    padding: 10px;
}
.custom-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}
.icon-size {
    width: 100px;
    height: auto;
}

.card-content {
    background-color: #f7fdf6;
} 
.cardstyling {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 50px; 
  }
.cardborder {
    border-style: solid;
    border-radius: 20px;
    border-color: #7d404a;
    background-color: #f7fdf6;
    
}

.txtcolor {
    color: #925e67;
}
.textposition {
    padding-top: 300px;
}
.cartfooter {
    margin-left: 220px;
    margin-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: none;
}
.firstsection {
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
.logost {
    font-weight: 700px;
    color: black;
}
.imgsz {
    width: 340px;
    height: auto;
}
.bgcol {
    background-color: #f6b637;
}
.btnstyle {
    color: white;
    border: none;
    padding: 10px;
}
.orangetext {
    color: #ffc13a;
}
.double {
    background-color: #f7fdf6;
    background-image: url(images/doubledecker1.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-top: 100px;
    padding-bottom: 200px;
    text-align: left center;
    padding-left: 50px;
    
}
.footerformat {
    margin-left: 20px;
    text-align: left;
}